@model MasterDetails.Models.Master

@{
    ViewData["Title"] = "Create";
    var itens = 0;
    var masterId = 0;
    if (Model != null)
    {
        if (Model.Details != null)
        {
            itens = Model.Details.Count();
        }
    }
}

<h4>Master</h4>
<hr />
<form id="master" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_FormMaster" />

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const _masterId = @masterId;
        var countItens = @itens;
        var details = [];
    </script>
    <script src="~/js/masterdetails.js"></script>
}
