@model MasterDetails.Models.Master

@{
    ViewData["Title"] = "Edit";
    var itens = 0;
    var masterId = Model.MasterId;
    if (Model != null)
    {
        if (Model.Details != null)
        {
            itens = Model.Details.Count();
        }
    }

    var details = Json.Serialize(Model.Details.Select(s => new { DetailId = s.DetailId, MasterId = s.MasterId, ProdutoId = s.ProdutoId, Nome = s.Produto.Nome, Quantidade = s.Qtd, Preco = s.Preco.ToString().Replace(".",",") }).ToArray());
}

<h1>Edit</h1>

<h4>Master</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MasterId" />

    <partial name="_FormMaster" />

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const _masterId = @masterId;
        let countItens = @itens;
        let details = @details;
    </script>
    <script src="~/js/masterdetails.js"></script>
}
