@model MasterDetails.Models.Master

@{
    ViewData["Title"] = "Edit";
    var itens = 0;
    var masterId = Model.MasterId;
    if (Model != null)
    {
        if (Model.Details != null)
        {
            itens = Model.Details.Count();
        }
    }
}

<h1>Edit</h1>

<h4>Master</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MasterId" />

    <partial name="_FormMaster" />

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        var itens = @itens;
        var masterId = @masterId;
</script>
    <script src="~/js/masterdetails.js"></script>
}
